body{
    background-color: rgba(234, 234, 234, 0.975);
}
header{
    display: flex;
    position: absolute;
    margin-bottom: 3rem;
    top:1%;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
nav{
    padding: 0.4rem;
}
.cartlink{
    float:right;
}
.NavLink{
color: rgb(17, 55, 73);
margin:0 10px;
}
.NavLink.active{
    color: black;
    font: bold;
    text-decoration: underline;
}
.NavLink:hover{
    color: rgb(33, 10, 48);
}
.footer{

}